*.pth
*.pyc
nohup.out
log.txt
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
/datasets/coco
/datasets/imagenet
/datasets/lvis
/models
/script
/training_dir
/training_dir_
/figs
/vis_image
/detectron2
/CLIP


